<div id='Form'  class="view"></p>
<style>

</style>	
<form class="tform" action="" method="post" name="tform">
<fieldset>
	<legend>Your details</legend>
	<ol>
	<li>
		<label for=name>Name</label>
		<input id=name name=name type=text placeholder="First and last name" required autofocus>
	</li>
	<li>
		<label for=email>Email</label>
		<input id=email name=email type=email placeholder="example@domain.com" required>
	</li>
	<li>
		<label for=pass>Password</label>
		<input id=pass name=pass type=password required>
	</li>
	<li>
		<button type=submit>Join!</button>
	</li>
	</ol>
</fieldset>
</form>
<script>
	console.log('loaded f')
</script>
</div>
<!-- 
ex:
http://webdesign.tutsplus.com/tutorials/site-elements/bring-your-forms-up-to-date-with-css3-and-html5-validation 
http://legendthemes.com/2010/04/10/designing-modern-web-forms-with-html-5-and-css3/
http://www.red-team-design.com/how-to-create-a-cool-and-usable-css3-search-box
-->
	