<link href="file:///C|/Users/vic/Dropbox/user/zworkShop_ajaxApi/cdn/style/base.css" rel="stylesheet" type="text/css" />
<link href="file:///C|/Users/vic/Dropbox/user/zworkShop_ajaxApi/cdn/style/Common.css" rel="stylesheet" type="text/css" />
<div id='TList'>
<link href="file:///C|/Users/vic/Dropbox/user/zworkShop_ajaxApi/cdn/style/Common.css" rel="stylesheet" type="text/css" />
<div id='TList'>


Todo List
	
<div id="hacker-list">
	<input class="search" />
    <span class="sort" data-sort="name">Sort by name</span>

    <ul class="list">
		

		<li >
		   <h3 class="name">Vic</h3>
		   <p class="city">New York</p>
		</li>

		<li >
		   <h3 class="name">Al</h3>
		   <p class="city">Gore</p>
		</li>

	</ul>
</div>

<script>
	console.log('loaded tmplt')
</script>
</div>
