
/*
http://colorschemedesigner.com/#3M11TnTn7xQwt
*/
html {
    /*background-image: url('../assets/back2.svg');*/
}

body {
	background:#2E3B5B; 
	color:#fff;
	font-size:1em;
}

header, footer {
	background:#29417C;
}


kontainer { /* contains .view */
	
}
		
.view {
	background:#0C1F4E;
	
	/*** Background Gradient*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0C1F4E), to(#29417C));

	/*(background-image: url('../assets/back2.svg');*/
}


form {
  	width:93%;

    /*** Rounded Corners ***/
    -webkit-border-radius: 2em;
 
    /*** Background Gradient*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0C1F4E), to(#29417C));

}


.small {
	display:block;
	font-size:.5em;
	text-align:right;
}



