/*
v1

Single page header and footer 
*/
html, body {
	width: 100%;
    height: 100%;
    overflow: hidden;
	font-size: 1em;
}

html {
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
	background-repeat:no-repeat;
}

body {
	background:#2E3B5B; /* something at least */
	color:#fff;
}
header, footer {
	background:#29417C; /* something at least */
	
	width: 100%;
	z-index: 1000;
}

header {
	top: 0;
	min-height:3em;
}

footer {
	bottom: 0;
	position: absolute;
	height:3em;
}

.headerCont, .footerCont {
	padding: .4em
}

kontainer { /* contains .view */
	position: absolute;
	width: 100%;
    height: 100%;
	z-index: -100; 
		
}
		
.view {
    width: 100%;
    height: 100%;
	padding: .5em;
    background-size:100% 100%;
    background-size:cover;
	background-repeat:no-repeat;
}


/*
.............................................................................................
*/
body {
	text-shadow: 0 .1em .1em #0C1F4E; /* something at least */
}

form {
	width:98.5%;
	padding: 2em;
    border: .1em solid #fff;
	
}

ol li {
	list-style: none;
	line-height: 1em;
	padding: .5em 
}

label {
    display:inline-block;
    width:10em; /* something at least */

}

input {
	border-radius: .3em; -moz-border-radius: .3em; -webkit-border-radius: .3em;
	text-transform:uppercase;
	border: none;
	width:12em;
}

button:hover {
	cursor: pointer;
}

/* something at least */
button {
	background-color:#607BBE;
	border-radius:1em;
	border-width:medium;
	padding:.3em 1.5em;
	color:#fff;
	font-family: Verdana, Arial;
	font-size:1em;
	box-shadow: .2em .2em .1em #888888;

}

		
